langchain
langchain_openai
streamlit
streamlit_feedback
openai
python-dotenv
streamlit-ace
google.cloud
google-cloud-aiplatform
pyvis 
matplotlib
path
flair
genbit
language_tool_python
dvc
# install git and dvc
# git init
# dvc init
# git commit -m "commiting first version"
# dvc add new
# git add -all
# git commit - m "dvc files"